@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Roboto");

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/pablo-merchan-montes-237641.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    text-decoration-color: white;
}

#bg {
  content: "";
  background: url('..../Images/bg.jpg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.navbar-inverse .navbar-nav > li > a {
    color:white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
 

.navbar-inverse {
    background-color: transparent !important;
    border: none;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
    color: white !important;
    font-size: 3em;
}
a#registerLink {
    color: white;
}
a#loginLink {
    color: white;
}
.autoExpand {
    width: 500px;
    height: 200px;
    background-color: white;
    opacity: 0.5;
    position: relative;
    min-width: 75%;
    /*padding-top: 200px;*/
    margin-top: 100px;
}

h4, h5 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

label.control-label.col-md-2 {
    color: white;
}


a.waves-effect.waves-light.btn.btn-large {
    margin: 10px 0px 10px 0px !important;
}