@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans|Roboto");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Oleo+Script");

body {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    background-image: url('../images/pablo-merchan-montes-237641.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    text-align: center;
    text-decoration-color: white;
    min-height: 100%;
}

.page-footer {
    margin-top: 100px;
    background-color: #2E2D30 !important;
    padding-top: 0px !important;
    position: absolute;
}

#Google.btn.btn-default {
    padding: 5px 5px 5px 5px !important;
    background-image: url('../Images/google2.png');
    background-size: cover;
    border-radius: 50%;
    min-height: 77px;
    background-color: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
}

#Facebook.btn.btn-default {
    padding: 5px 5px 5px 5px !important;
    background-image: url('../Images/facebook4.png');
    background-size: cover;
    border-radius: 50%;
    min-height: 95px;
    background-color: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
}

#Twitter.btn.btn-default {
    padding: 5px 5px 5px 5px !important;
    background-image: url('../Images/twitter2.png');
    background-size: cover;
    border-radius: 50%;
    min-height: 77px;
    background-color: transparent;
    color: transparent;
    border: none;
    box-shadow: none;
}

.control-label {
    color: gray !important;
}

.topGlyphs {
    margin-top: 40px;
}

.container {
    width: 80% !important;
}



.input-field .prefix {
    color: white;
}

.card .card-image img {
    position: static;
}

#bg.img-responsive {
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-right {
    margin-top: 5px;
}

    .navbar-right > li > a {
        font-family: 'Roboto', sans-serif;
        font-size: 12pt;
    }

        .navbar-right > li > a:hover {
            background-color: white;
            opacity: .5;
        }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card-title {
    text-shadow: 1px 1px 8px black;
}

.detailsStyle {
    max-width: 500px;
    height: auto;
    margin: auto;
}

.navbar-brand {
    color: white !important;
    margin-top: -3px;
}

.navbar-brand-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: white !important;
    font-size: 3em;
}

    .navbar-brand-logo:hover {
        text-decoration: none;
        color: white !important;
        opacity: .5 !important;
    }

.navbar-inverse {
    background-color: transparent;
    border: none;
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.glyphicon-search:before, .glyphicon-hand-down:before, .glyphicon-book:before {
    color: white;
    font-size: 40px;
}

.glyphicon-book:hover {
    opacity: .5;
}

#bgIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    display: inline-table;
    text-align: center;
}

td {
    color: white;
}



input {
    color: white !important;
}

label {
    color: white !important;
}

#logoutForm.navbar-right {
    margin: 0px;
}

a#registerLink {
    color: white;
}

a#loginLink {
    color: white;
}

.autoExpand {
    width: 500px;
    height: 200px;
    background-color: white;
    opacity: 0.8;
    position: relative;
    min-width: 75%;
    margin-top: 50px;
    /*padding-top: 200px;*/
}

#inputText {
    color: black;
}


.form-control {
    color: white;
}

nav {
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

th {
    color: white;
}

form.form-horizontal {
    align-content: center;
}

label.control-label.col-md-2 {
    color: white;
}


a.waves-effect.waves-light.btn.btn-large {
    margin: 10px 0px 10px 0px !important;
}

.SetFav {
    position: relative;
    /*display: inline-block;
        border-bottom: 1px dotted black;*/
}

    .SetFav .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: white;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: 64px;
        margin-bottom: 30px;
        opacity: 0;
        transition: opacity 1s;
    }

        .SetFav .tooltiptext::after {
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: white transparent transparent transparent;
        }

    .SetFav:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
#reset.waves-button-input {
    color: gray !important;
}
#reset.waves-button-input:hover {
    color: white !important;
}
#reset.waves-button-input-wrapper {
    color: #2BBBAD;
}

    #reset.waves-button-input-wrapper:hover {
        color: white !important;
        background-color: #2BBBAD;
    }

#Email.form-control, #Password.form-control, #ConfirmPassword.form-control {
    color: gray !important;
}

.login {
    display: none;
}

.container2 {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 300px;
}

.card1 {
    margin-left: 0px !important;
}
.noShadow {
    text-shadow: none;
}


