@model IEnumerable<CookingSite.Models.Term>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
@*The following script receives the recipe from the customer, creates a JSON object and sends 
    that object to a GetKey() method in the terms controller*@

<script>

    $(function () {
        var $inputText = $('#inputText')


        $('#sendFile').on('click', function () {
            
            var postFile = {
                userInput: $inputText.val(),
            };
            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetKey")",
                data: JSON.stringify(postFile),
                contentType: "application/json; charset=utf-8",
                success: function (data) { window.location.href = "/Terms/Words"; },
                error: function () {
                    alert("error saving input");
                }
            });
        });
    });
</script>


<body>
    <div class="topGlyphs">
        <div class="col-md-4">
            <center>
                <a href="http://www.allrecipes.com" target="_blank"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></a>
                <h6>1. Find A Recipe</h6>
            </center>
        </div>
        <div class="col-md-4">
            <center>

                <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span>
                <h6>2. Copy The Directions + Paste Below</h6>
            </center>
        </div>
        <div class="col-md-4">
            <center>

                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <h6>3. Click "Search Recipe"</h6>
            </center>
        </div>
    </div>

    @*Recipe Entry Field*@
        
        <textarea id="inputText" class='autoExpand' rows='3' data-min-rows='3' title='Paste Recipe Here' placeholder="Follow the link to find a new recipe, enter your own, or search single cooking terms"></textarea>

    @*FIND TERMS Button*@
    <div class="container">
        <a id="sendFile" class="waves-effect waves-light btn btn-large"><i class="material-icons right">search</i>Search Recipe</a>
    </div>



</body>

