<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    @*Recipe Entry Field*@
    <textarea id="recipeEntry" class='autoExpand' rows='3' data-min-rows='3' title='Paste Recipe Here' placeholder="Paste Recipe Here"></textarea>

    @*FIND TERMS Button*@
    <div class="container">
        <button id="findButton" class="btn draw-border">FIND TERMS</button>
    </div>

</body>
</html>